<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KegelApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="center-content">
    <ion-card routerLink="/select-level">
      <div class="card-content">
        <img alt="pelvic diagram" src="assets/img/km2.jpg" />
        <ion-card-header>
          <ion-card-title><ion-button expand="block">GET STARTED</ion-button></ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>










