<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Select Kegel Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding" [fullscreen]="true">
  
  
    <ion-segment  value="male" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="male">
      <ion-label>MALE</ion-label>
    </ion-segment-button>
    <ion-segment-button value="female">
      <ion-label>FEMALE</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-card style="transform: translateY(120%);">
    <ion-card-header>
      <ion-card-title>
        <ion-card-subtitle>

        </ion-card-subtitle>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>



  <ion-card  *ngIf="selectedsegment === 'male'">
    <img alt="Silhouette of mountains" src="assets/img/km1.jpg" />
    <ion-card-header>
      <ion-card-title> <ion-button routerLink="/male-kegel" expand="block">GO TO WORKOUT</ion-button></ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
     <!--<p class="description">Here's a small text description for the card content. Nothing more, nothing less.</p> -->
     </ion-card-content>
  </ion-card>

    <ion-card   *ngIf="selectedsegment === 'female'">
    <img alt="Silhouette of mountains" src="assets/img/kf1.jpg" />
    <ion-card-header>
      <ion-card-title> <ion-button routerLink="/female-kegel" expand="block">GO TO WORKOUT</ion-button></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- <p class="description">Here's a small text description for the card content. Nothing more, nothing less.</p> -->
    </ion-card-content>

  </ion-card>
 
</ion-content>





