<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-level"></ion-back-button>
    </ion-buttons>
    <ion-title>female-kegel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
<!-- Chest workout list begins-->

<ion-card>
  <ion-card-content routerLink="cat-cow">
   <ion-item color="dark">
     <ion-thumbnail slot="start">
       <img alt="cat-cow workout" src="assets/img/cat-cow.jpg" />
     </ion-thumbnail>
     <ion-label>Cat Cow</ion-label>
   </ion-item>
 </ion-card-content>
</ion-card>  



<ion-card>
<ion-card-content>
<ion-item color="dark">
<ion-thumbnail slot="start">
 <img alt="workout" src="assets/img/armb.png" />
</ion-thumbnail>
<ion-label>Bird Dog Right</ion-label>
</ion-item>
</ion-card-content>
</ion-card>  


<ion-card>
<ion-card-content>
<ion-item color="dark">
<ion-thumbnail slot="start">
 <img alt="workout" src="assets/img/shoulder.png" />
</ion-thumbnail>
<ion-label>Bird Dog Left</ion-label>
</ion-item>
</ion-card-content>
</ion-card>  


<ion-card>
  <ion-card-content>
  <ion-item color="dark">
  <ion-thumbnail slot="start">
   <img alt="workout" src="assets/img/shoulder.png" />
  </ion-thumbnail>
  <ion-label>Pelvic Floor Squeeze</ion-label>
  </ion-item>
  </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-content>
    <ion-item color="dark">
    <ion-thumbnail slot="start">
     <img alt="workout" src="assets/img/shoulder.png" />
    </ion-thumbnail>
    <ion-label>Kneeling Squat</ion-label>
    </ion-item>
    </ion-card-content>
    </ion-card>  
    
    <ion-card>
      <ion-card-content>
      <ion-item color="dark">
      <ion-thumbnail slot="start">
       <img alt="workout" src="assets/img/shoulder.png" />
      </ion-thumbnail>
      <ion-label>Table Leg Push Squeeze Left</ion-label>
      </ion-item>
      </ion-card-content>
      </ion-card>  

      <ion-card>
        <ion-card-content>
        <ion-item color="dark">
        <ion-thumbnail slot="start">
         <img alt="workout" src="assets/img/shoulder.png" />
        </ion-thumbnail>
        <ion-label>Table Leg Push Squeeze Right</ion-label>
        </ion-item>
        </ion-card-content>
        </ion-card>  
        
      
        <ion-card>
          <ion-card-content>
          <ion-item color="dark">
          <ion-thumbnail slot="start">
           <img alt="workout" src="assets/img/shoulder.png" />
          </ion-thumbnail>
          <ion-label>Lean Back Knee Tuck</ion-label>
          </ion-item>
          </ion-card-content>
          </ion-card>  


          <ion-card>
            <ion-card-content>
            <ion-item color="dark">
            <ion-thumbnail slot="start">
             <img alt="workout" src="assets/img/shoulder.png" />
            </ion-thumbnail>
            <ion-label>Lean Back Hold</ion-label>
            </ion-item>
            </ion-card-content>
            </ion-card>  


            <ion-card>
              <ion-card-content>
              <ion-item color="dark">
              <ion-thumbnail slot="start">
               <img alt="workout" src="assets/img/shoulder.png" />
              </ion-thumbnail>
              <ion-label>Elevated Rainbows</ion-label>
              </ion-item>
              </ion-card-content>
              </ion-card>  
              

              
            <ion-card>
              <ion-card-content>
              <ion-item color="dark">
              <ion-thumbnail slot="start">
               <img alt="workout" src="assets/img/shoulder.png" />
              </ion-thumbnail>
              <ion-label>EPilates 100</ion-label>
              </ion-item>
              </ion-card-content>
              </ion-card>  

              
            <ion-card>
              <ion-card-content>
              <ion-item color="dark">
              <ion-thumbnail slot="start">
               <img alt="workout" src="assets/img/shoulder.png" />
              </ion-thumbnail>
              <ion-label>Single Leg Drop</ion-label>
              </ion-item>
              </ion-card-content>
              </ion-card>  


              
            <ion-card>
              <ion-card-content>
              <ion-item color="dark">
              <ion-thumbnail slot="start">
               <img alt="workout" src="assets/img/shoulder.png" />
              </ion-thumbnail>
              <ion-label>Knee TucK Crunch Right</ion-label>
              </ion-item>
              </ion-card-content>
              </ion-card>  
            
          
              <ion-card>
                <ion-card-content>
                <ion-item color="dark">
                <ion-thumbnail slot="start">
                 <img alt="workout" src="assets/img/shoulder.png" />
                </ion-thumbnail>
                <ion-label>Knee TucK Crunch Left</ion-label>
                </ion-item>
                </ion-card-content>
                </ion-card>  


                <ion-card>
                  <ion-card-content>
                  <ion-item color="dark">
                  <ion-thumbnail slot="start">
                   <img alt="workout" src="assets/img/shoulder.png" />
                  </ion-thumbnail>
                  <ion-label>Glute Bridge</ion-label>
                  </ion-item>
                  </ion-card-content>
                  </ion-card>  
                
              

                  <ion-card>
                    <ion-card-content>
                    <ion-item color="dark">
                    <ion-thumbnail slot="start">
                     <img alt="workout" src="assets/img/shoulder.png" />
                    </ion-thumbnail>
                    <ion-label>Glute Bridge Abduction</ion-label>
                    </ion-item>
                    </ion-card-content>
                    </ion-card>  
                             
  <!-- Chest workout list ends-->
</ion-content>
