<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-level"></ion-back-button>
    </ion-buttons>
    <ion-title>female-kegel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
<!-- Chest workout list begins-->

<ion-card>
  <ion-card-content>
   <ion-item color="dark">
     <ion-thumbnail slot="start">
       <img alt="workout" src="assets/img/arm.png" />
     </ion-thumbnail>
     <ion-label>Workout 1</ion-label>
   </ion-item>
 </ion-card-content>
</ion-card>  



<ion-card>
<ion-card-content>
<ion-item color="dark">
<ion-thumbnail slot="start">
 <img alt="workout" src="assets/img/armb.png" />
</ion-thumbnail>
<ion-label>Workout 1</ion-label>
</ion-item>
</ion-card-content>
</ion-card>  


<ion-card>
<ion-card-content>
<ion-item color="dark">
<ion-thumbnail slot="start">
 <img alt="workout" src="assets/img/shoulder.png" />
</ion-thumbnail>
<ion-label>Workout 1</ion-label>
</ion-item>
</ion-card-content>
</ion-card>  

  <!-- Chest workout list ends-->
</ion-content>
